/* HomePage.css */
.home-page {
  background: linear-gradient(to bottom, #272861, #2D3B79);
  height: 100vh;
  overflow-y: auto;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  /* background: linear-gradient(to bottom, #1e3a8a, #3b82f6); */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}

.icon-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.green-icon {
  color: #ffffff;
  font-size: 34px;
  cursor: pointer;
  /* border: solid red 1px; */
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24a359;
}

.blue-icon {
  color: #ffffff;
  font-size: 34px;
  cursor: pointer;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e8cb5;
}

.music-icon {
  /* position: absolute;
  top: 20px;
  right: 20px; */
  color: white;
  font-size: 24px;
  cursor: pointer;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2057c3;
}

.profile-icon{
  color: white;
  font-size: 24px;
  cursor: pointer;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0840b0;
}

.unlock-btn {
  background: #f96d27;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  row-gap: 3rem; 
  column-gap: 1rem;
  justify-items: center;
  padding: 0px 95px; 
  margin-top: -60px;
}

.book-item {
  text-align: center;
}

.book-container {
  position: relative;
  width: 250px; 
  height: 190px; 
}

.book-cover {
  width: 100%;
  height: 100%; 
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; 
}


.book-lock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  width: 40px;
  padding: 5px;
}

.book-title {
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.5);  */
  font-weight: bolder;
  color: white;
  font-size: 17px;
  text-align: center;
  padding: 5px 0; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box; 
}
